
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import '~animate.css/animate.min.css';

@import '~swiper/dist/css/swiper.min.css';
@import '~simplelightbox/dist/simplelightbox.min.css';
@import '~notie/dist/notie.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
