/* Bootstrap  */

@media (min-width: 1440px) {
    .first-slide {
        height: 60vh;
    }
    a.blog-link.margin-full-15 {
        box-sizing: border-box;
        margin-bottom: 60px;
        margin-left: 20px;
    }

    #blogContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 1440px) {

}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 575px) {
    .drawer-menu {
        background: white;
        width: 100%;
        position: fixed;
        height: 60px;
        content: "";
        z-index: 99;
        top: calc(100% - 59px);
    }

    .overlay {
        position: fixed;
        background: #FFF;
        top: calc(100% - 59px);
        left: 0;
        height: 60px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
    }

    .overlay.open {
        top: 0;
        opacity: 1;
        visibility: visible;
        height: 100%;
        z-index: 999;
    }

    .fab-btn {
        position: fixed;
        width: 60px;
        top: calc(100% - 25px);
        left: 50%;
        transform: translate(0%, -20%);
    }

    #menu-pill {
        position: absolute;
        top: 18px;
        left: 18px;
    }

    #main-navbar {
        background: white !important;
        margin: 0;
    }

    #slider-main {
        width: auto;
        position: relative;
        top: 200px;
    }

    .slider-img {
        position: initial;
    }

    .first-slide .order-2 {
        display: none;
    }

    .flat-arrow.flat-arrow-main-left, .flat-arrow.flat-arrow-main-right, .flat-arrow.flat-arrow-left, .flat-arrow.flat-arrow-right {
        display: none;
    }

    #slider-studio {
        height: 240px;
    }

    .pagination-position {
        left: -120px !important;
    }

    .creater_img {
        width: 346px;
        margin-left: 0;
    }

    #can-get {
        display: none;
    }

    .callback-text {
        width: 100%;
        height: auto;
    }

    .callback-text .label-title {
        height: initial;
        min-height: auto;
    }

    .callback-box {
        width: 100%;
    }

    .container-callback {
        height: auto;
    }

    section {
        margin: 30px 0;
    }

    .video_wrapper {
        width: 100%;
    }

    #page-content-wrapper {
        text-align: center !important;
    }

    .landing-label h2 {
        text-align: center;
    }

    .box-course2 {
        margin-bottom: 15px;
    }

    .box-blog {
        width: 100%;
    }

    .blog-link {
        margin-bottom: 35px;
    }

    .blog-content p {
        text-align: left;
    }

    .swiper-blog-control {
        width: 100%;
        height: 177px;
        border-radius: 10px;
        background-color: #ffffff;
        position: relative;
        bottom: inherit;
        left: inherit;
        z-index: 5;
    }

    #slider-blog {
        width: 100%;
        height: inherit;
    }

    .control-btn {
        width: 40px;
        height: 30px;
        margin: 22px 10px 10px;
    }

    .psychologist-content p {
        text-align: center;
    }

    .callback-text img {
        position: absolute;
        top: -20px;
        z-index: -1;
        left: 10px;
    }

    .box-course {
        margin: 10px 15px;
    }

    .box-course-family {
        margin: 10px 15px;
    }

    .list-styled {
        padding-bottom: 0;
    }

    .box-child {
        width: 100%;
        height: 353px;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav-icon {
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
    }

    .mob-hidden {
        display: block
    }

    .mob-hide {
        display: none !important;
    }

    .psychologist-label {
        text-align: center;
    }

    .mob-center {
        display: flex;
        justify-content: center;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }

    .modal-content .callback-box {
        width: 100%;
        height: 100%;
        padding-bottom: 15px;
        border-radius: 10px;
    }
    .nav-can-get {
        text-align: left;
    }
    .methods-block {
        height: auto;
    }
    .methods-height{
        height: 300px;
    }
    .methods-block .tab-pane p {
         display: block;
        margin-top: 25px;
    }
    .label-light{
        display: none;
    }

    .image-methods{
        position: absolute;
        top: -470px;
        left: 0px;
        width: 80%;
        object-fit: contain;
        z-index: -1;
        display: block;
    }
    .img-service-mob{
        position: absolute;
        top: -20px;
        left: 100px;
        z-index: -1;
        width: 60%;
    }
    .service-mob-text{
        text-align: left !important;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
    }
    .service-mob-label{
        height: 130px;
    }
    .methods-block .tab-pane p {
         height: inherit;
    }
}

/* Bootstrap end  */

/* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

}

/* Smartphones (landscape) */
@media only screen
and (min-width: 321px) {

}

/* Smartphones (portrait) */
@media only screen
and (max-width: 320px) {

}

/* iPads (portrait and landscape) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {

}

/* iPads (landscape) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

}

/* iPads (portrait) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}

/* Desktops and laptops */
@media only screen
and (min-width: 1224px) {

}

/* Large screens */
@media only screen
and (min-width: 1824px) {

}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}