/**
 * Created by PhpStorm.
 * User: minor946
 * Date: 22/09/18
 * Time: 10:05 PM
 */
@font-face {
    font-family: 'Avenir Next';
    src: url(../fonts/avenir_next.ttc) format('truetype');
}

@font-face {
    font-family: 'GothamPro';
    src: url(../fonts/GothamPro.otf) format('OpenType');
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/GothamPro.otf) format('OpenType');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
!important;
    background-color: #f5f2f2;
}

h2 {
    font-family: "GothamPro", serif !important;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    color: #000000;
    line-height: 2.05;
    text-align: center;
}

h3 {
    font-family: "GothamPro", serif !important;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #000000;
}

p {
    font-family: "Roboto", sans-serif !important;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
}

section {
    margin: 90px 0;
    position: relative;
}

section:first-child {
    margin: 50px 0;
}

a {
    color: black;
}
.psychologist-section{
    margin: 0 ;
}
a:hover {
    color: #995fff;
}

a.active {
    color: #995fff;
}

.img-full {
    width: 100%;
}

#wrapper {
    margin-top: 120px;
}

.first-slide {
    height: 80vh;
}

.navbar-container {
    margin: 0 3% 0 8%;
    z-index: 990;
}

.navbar-nav {
    text-transform: uppercase;
}

.navbar-nav-icon {
    margin-left: 25px;
}

.nav-item-icon {
    margin: 5px;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
}

.nav-item:hover {
    box-shadow: 0 -1px rgba(0, 0, 0, 0.7) inset;
}

.brand-desc {
    position: absolute;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;
}

.drawer-menu {
    background: white;
    height: 100%;
    position: fixed;
    width: 60px;
    content: "";
    z-index: 99;
    top: 0;
}

#footer {
    margin-top: 30px;
}

.overlay p {
    font-family: "GothamPro", serif !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    margin-bottom: 0.3em;
}

.footer {
    position: relative;
    padding: 0.5rem 1rem;
    margin: 30px 5% 30px 8%;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.footer h4 {
    font-family: "GothamPro", serif !important;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.footer p {
    font-family: "GothamPro", serif !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.fab-btn {
    position: fixed;
    width: 60px;
    left: 45px;
    bottom: 50%;
    margin-left: -28px;
}

.fab-btn:hover {
    opacity: 1;
}

.fab-action-button:hover {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    transition-delay: 0.3s;
}

.fab-action-button {
    position: absolute;
    bottom: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

.fab-btn-block {
    position: relative;
    content: "";
    height: 100%;
    width: 100%;
}

.combined-shape-menu {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #e96ae1, #557bed);
}

.shape-menu1 {
    top: 5px;
    left: 20px;
}

.shape-menu2 {
    top: 15px;
    left: 10px;
}

.shape-menu3 {
    top: 15px;
}

.shape-menu4 {
    top: 25px;
    left: 20px;
}

.shape-menu {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10px 10px;
}

.callback-text .label-title {
    min-height: 390px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-h2 {
    margin-bottom: 5px;
    margin-left: 15px;
}

.label-title {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.05;
    letter-spacing: 0.3px;
    color: #000000;
}

.callback-box {
    width: 460px;
    height: 390px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
}

.callback-box ::-webkit-input-placeholder {
    text-align: center;
}

.callback-box :-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

.callback-box ::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

.callback-box :-ms-input-placeholder {
    text-align: center;
}

.callback-text {
    height: 100%;
    margin: auto;
    width: 80%;
    padding: 10px;
    z-index: 1;
}

.callback-gift {
    width: 90%;
}

.callback-text img {
    position: absolute;
    top: 140px;
    z-index: -1;
    left: 100px;
}

.callback-box input {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: 0.2px;
}

.callback-box .form-control {
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
}

.callback-box .form-control:focus {
    -webkit-box-shadow: 0 1px 0 0 #d8d8d8;
    box-shadow: 0 1px 0 0 #d8d8d8;
}

.callback-box .form-group {
    margin: 45px;
}

.callback-box .btn-submit, .btn-main-style {
    border-radius: 30px;
    background-image: linear-gradient(222deg, #4afcd1, #2cb0fb);
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-stretch: normal;
    line-height: 2.81;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.callback-box .btn-submit {
    width: 254px;
}

.btn-fix-size {
    width: 220px;
}

.btn-main-style:hover {
    text-decoration: none;
    color: white;
}

.overlay {
    position: fixed;
    background: #FFF;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, width .35s;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    width: 100%;
    z-index: 999;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.overlay nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: black;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    transition: .35s;
    background: black;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    width: auto;
    cursor: pointer;
    color: black;
    z-index: 100;
    transition: opacity .25s ease;
}

.button_container:hover {
    color: #995fff;
}

.margin-top-120 {
    margin-top: 120px;
}

.box-blog {
    width: 340px;
}

.box-blog-image img {
    padding: 0;
    width: 100%;
    height: 235px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

.box-blog-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    height: 225px;
    margin-top: -60px;
    z-index: 2;
    position: relative;
    padding: 10px;

}


.box-blog-text {
    width: 100%;
    height: 60px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;
    padding: 10px;
}

.box-blog-footer {
    width: 100%;
    height: 15px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;
    padding-top: 50px;
}

.blog-link:hover, .blog-link:hover .box-blog {
    text-decoration: none;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-75 {
    margin-top: 75px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-45 {
    margin-bottom: 45px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-35 {
    margin-left: 35px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-45 {
    margin-left: 45px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-35 {
    margin-right: 35px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-right-45 {
    margin-right: 45px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-right-80 {
    margin-right: 80px;
}

.margin-width-10 {
    margin: 0 10px;
}

.margin-width-15 {
    margin: 0 15px;
}

.margin-width-20 {
    margin: 0 20px;
}

.margin-width-25 {
    margin: 0 25px;
}

.margin-width-30 {
    margin: 0 30px;
}

.margin-width-35 {
    margin: 0 35px;
}

.margin-width-40 {
    margin: 0 40px;
}

.margin-width-45 {
    margin: 0 45px;
}

.margin-width-50 {
    margin: 0 50px;
}

.margin-height-10 {
    margin: 10px 0;
}

.margin-height-15 {
    margin: 15px 0;
}

.margin-height-20 {
    margin: 20px 0;
}

.margin-height-25 {
    margin: 25px 0;
}

.margin-height-30 {
    margin: 30px 0;
}

.margin-height-35 {
    margin: 35px 0;
}

.margin-height-40 {
    margin: 40px 0;
}

.margin-height-45 {
    margin: 45px 0;
}

.margin-height-50 {
    margin: 50px 0;
}

.margin-full-10 {
    margin: 10px;
}

.margin-full-15 {
    margin: 15px;
}

.margin-full-20 {
    margin: 20px;
}

.margin-full-25 {
    margin: 25px;
}

.margin-full-30 {
    margin: 30px;
}

.margin-full-35 {
    margin: 35px;
}

.margin-full-40 {
    margin: 40px;
}

.margin-full-45 {
    margin: 45px;
}

.margin-full-50 {
    margin: 50px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-45 {
    padding-top: 45px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-45 {
    padding-bottom: 45px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-35 {
    padding-left: 35px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-45 {
    padding-left: 45px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-35 {
    padding-right: 35px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-right-45 {
    padding-right: 45px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-width-10 {
    padding: 0 10px;
}

.padding-width-15 {
    padding: 0 15px;
}

.padding-width-20 {
    padding: 0 20px;
}

.padding-width-25 {
    padding: 0 25px;
}

.padding-width-30 {
    padding: 0 30px;
}

.padding-width-35 {
    padding: 0 35px;
}

.padding-width-40 {
    padding: 0 40px;
}

.padding-width-45 {
    padding: 0 45px;
}

.padding-width-50 {
    padding: 0 50px;
}

.padding-width-200 {
    padding: 0 200px;
}

.padding-height-10 {
    padding: 10px 0;
}

.padding-height-15 {
    padding: 15px 0;
}

.padding-height-20 {
    padding: 20px 0;
}

.padding-height-25 {
    padding: 25px 0;
}

.padding-height-30 {
    padding: 30px 0;
}

.padding-height-35 {
    padding: 35px 0;
}

.padding-height-40 {
    padding: 40px 0;
}

.padding-height-45 {
    padding: 45px 0;
}

.padding-height-50 {
    padding: 50px 0;
}

.padding-full-10 {
    padding: 10px;
}

.padding-full-15 {
    padding: 15px;
}

.padding-full-20 {
    padding: 20px;
}

.padding-full-25 {
    padding: 25px;
}

.padding-full-30 {
    padding: 30px;
}

.padding-full-35 {
    padding: 35px;
}

.padding-full-40 {
    padding: 40px;
}

.padding-full-45 {
    padding: 45px;
}

.padding-full-50 {
    padding: 50px;
}

.psychologist-block {
    width: 100%;
}

.psychologist-block {
    width: 100%;
}

.psychologist-photo {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.psychologist-label {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.81;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.psychologist-content p {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
}

#about-page p {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: 0.6px;
    text-align: left;
}

#about-page p {
    margin-bottom: 50px;
}

#about-page h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #000000;
}

.nav-item-service {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
    width: calc(100% / 7);
}

.nav-item-service a {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.nav-item-service a:hover {
    text-decoration: none;
}

.nav-item-service a img {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.nav-item-service > .active > img {
    visibility: visible;
    opacity: 1;
}

.nav-item-service:hover a > img {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear;
}

.video_wrapper {
    width: 560px;
    margin: 0 auto;
    position: relative;
    background-color: #000;
}

.video_wrapper_full {
    padding-top: 315px;
}

.videoIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.videoPoster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(http://c.fastcompany.net/multisite_files/cocreate/imagecache/inline-large/inline/2013/01/1682283-inline-inline-2-music-veteran-amani-duncan-on-marketing-cf-martin-the-worlds-oldest-guitar-maker.jpg);
    background-size: 100%;
    border: none;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}

.videoPoster:hover {
    cursor: pointer;
}

.videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    margin: -40px 0 0 -40px;
    background-image: url(../images/icons/play.png);
    background-repeat: no-repeat;
}

.videoPoster:hover:before, .videoPoster:focus:before {
    border-color: #f00;
}

.videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #f00;
}

.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
}

.box-course2 {
    min-height: 470px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 270px;
    position: relative;
    margin-bottom: 25px;
}
.box-course2 img{
    width: 270px;
    height: 197px;
    object-fit: cover;
}
.box-course2 h3{
    font-size: 15px !important;
}
.club-container .col-md-4 {
    padding: 20px;
}

.btn-main-style-small {
    height: 60px;
    border-radius: 30px;
    background-image: linear-gradient(216deg, #4afcd1, #2cb0fb);
}

.box-course2-content {
    min-height: 135px;
    margin-bottom: 5px;
}

.landing-label h2 {
    text-align: left;
}

.footer-app {
    width: 90px;
    margin: 10px 0;
}

.blog-content p {
    line-height: 2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: black;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("../images/icons/arrow-left.svg");
    background-size: 100%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/icons/arrow-right.svg");
    background-size: 100%;
}

.swiper-button-prev-flat {
    background-image: url("../images/icons/arrow-left.png");
}

.swiper-button-next-flat {
    background-image: url("../images/icons/arrow-right.png");
}

.slider {
    position: relative;
}

.swiper-blog-control {
    width: 394px;
    height: 177px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    bottom: -50%;
    left: 33px;
    z-index: 5;
}

.blog-control {
    position: relative;
    height: 60px;
    padding-top: 5px;
}

.control-btn {
    width: 40px;
    height: 30px;
    margin: 20px;
}

.control-bullet .swiper-pagination-bullet {
    margin: 32px 15px 0;
}

.small-text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
}

.flat-arrow {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 60px;
    padding: 18px 18px 0;
    margin: -12px 15px 10px;
    z-index: 60;
}

.inline-flex {
    display: inline-flex;
    justify-content: flex-end;
}

.fp-tableCell {
    height: 100% !important;
}

#full-page p {
    font-size: 14px;
    line-height: 1.81;
    letter-spacing: 0.1px;
}

.speech-bubble p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    transition: height 0.15s ease-out;
}

.fill-text {
    -webkit-line-clamp: 100 !important;
}

#slider-studio {
    height: 340px;
}

.pagination-position {
    margin: 10px 0;
    left: -100px !important;
}

.no-border {
    border: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #995fff;
}

.label-light {
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: left;
}

#slider-main {
    width: 460px;
    border-radius: 10px;
    top: 120px;
    position: absolute;
    right: 0;
}

#slider-main .swiper-slide {
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 340px;
    border-radius: 10px;
}

.display-none {
    display: none;
}

.swiper-slide h3 {
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;
}

.btn-wight-180 {
    width: 180px;
}

.child-icon {
    height: 100px;
}

.list-styled {
    list-style-image: url('../images/icons/check.svg');
    padding: 20px;
}

.list-styled li {
    margin: 10px;
}

.box-child {
    width: 601px;
    height: 313px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px;
}

.discount {
    color: #d836d2;
}

.margin-top-70 {
    margin-top: 70px;
}

.box-review-content {
    position: relative;
}

.box-review-content img {
    height: 240px;
}

.box-review-content p {
    position: absolute;
    top: 0;
    width: 284px;
    height: 156px;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 0.2px;
    text-align: left;
    color: #515151;
    margin: 40px 22px 22px;
}

ul li {
    margin: 10px;
}

.group-step p {
    padding-top: 15px;
    padding-left: 15px;
}

.box-course {
    width: 300px;
    height: 350px;
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
    padding: 25px 15px;
    margin: 0 15px;
}

.box-course-small {
    width: 258px;
    height: 94px;
    border-radius: 8px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding: 15px;
}

.box-course h4 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;
}

.box-course-content {
    height: 250px;
}

.box-course-price {
    height: 85px;
}

.price {
    margin-bottom: 0;
}

.about-course p {
    margin-bottom: 0;
}

.box-course-family {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
    padding: 25px 15px;
    margin: 0 15px;
}

.box-course-family-price {
    height: 81px;
}

.box-course-family-content {
    height: 200px;
}

.section-about {
    margin: 50px 0;
}

.box-menu {
    height: 210px;
    width: 320px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-menu strong {
    padding-bottom: 10px;
}

.box-menu:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-decoration: none;
}

.box-menu-grid {
    width: 720px;
}

.box-course2 .btn-main-style {
    width: 206px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
}

.row-blog {
    position: relative;
}

#sticky {
    height: 70%;
}

#slider-blog {
    width: 100%;
    height: 300px;
}

.hidden {
    display: none;
}

.methods-block {
    height: 348px;
}

.methods-block > div:first-child {
    border-right: 1px solid #e5e1e1;
}

.close-tab {
    position: absolute;
    right: 20px;
}

.get-block {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 30px 0;
    height: 140px;
}

.get-block > div {
    width: 120px;
    height: 120px;
    flex-grow: 1;
}

.slider-img {
    display: flex;
    position: relative;
    z-index: 0;
    top: -50px;
    left: -100px;
}

.slider-img > img {
    width: 100%;
    position: absolute;
}

.control-bullet-pos {
    top: 280px;
}

.get-icon {
    min-width: 100px;
    min-height: 100px;
    display: inline-block;
    position: relative;
    background: no-repeat center;
}

.get-icon img {
    visibility: hidden;
}

.get-icon:hover > p {
    position: absolute;
    display: block;
    top: 50px;
}

.get-icon-1 {
    background: url(../images/get-icon/icon-main-1.svg) no-repeat center;
}

.get-icon-2 {
    background: url(../images/get-icon/icon-main-2.svg) no-repeat center;
}

.get-icon-3 {
    background: url(../images/get-icon/icon-main-3.svg) no-repeat center;
}

.get-icon-4 {
    background: url(../images/get-icon/icon-main-4.svg) no-repeat center;
}

.get-icon-5 {
    background: url(../images/get-icon/icon-main-5.svg) no-repeat center;
}

.get-icon-6 {
    background: url(../images/get-icon/icon-main-6.svg) no-repeat center;
}

.get-icon-7 {
    background: url(../images/get-icon/icon-main-7.svg) no-repeat center;
}

.get-icon-8 {
    background: url(../images/get-icon/icon-main-8.svg) no-repeat center;
}

.get-icon-9 {
    background: url(../images/get-icon/icon-main-9.svg) no-repeat center;
}

.get-icon-10 {
    background: url(../images/get-icon/icon-main-10.svg) no-repeat center;
}

.get-icon-11 {
    background: url(../images/get-icon/icon-main-11.svg) no-repeat center;
}

.get-icon-1:hover {
    background: url(../images/get-icon/icon-main-1-c.svg) no-repeat center;
}

.get-icon-2:hover {
    background: url(../images/get-icon/icon-main-2-c.svg) no-repeat center;
}

.get-icon-3:hover {
    background: url(../images/get-icon/icon-main-3-c.svg) no-repeat center;
}

.get-icon-4:hover {
    background: url(../images/get-icon/icon-main-4-c.svg) no-repeat center;
}

.get-icon-5:hover {
    background: url(../images/get-icon/icon-main-5-c.svg) no-repeat center;
}

.get-icon-6:hover {
    background: url(../images/get-icon/icon-main-6-c.svg) no-repeat center;
}

.get-icon-7:hover {
    background: url(../images/get-icon/icon-main-7-c.svg) no-repeat center;
}

.get-icon-8:hover {
    background: url(../images/get-icon/icon-main-8-c.svg) no-repeat center;
}

.get-icon-9:hover {
    background: url(../images/get-icon/icon-main-9-c.svg) no-repeat center;
}

.get-icon-10:hover {
    background: url(../images/get-icon/icon-main-10-c.svg) no-repeat center;
}

.get-icon-11:hover {
    background: url(../images/get-icon/icon-main-11-c.svg) no-repeat center;
}

.dropdown-styled {
    border-radius: 8px;
    background-color: #ffffff;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

.box-course2 img {
    width: 100%;
    margin: 10px 0;
}

.callback-box-menu {
    padding: 20px;
    margin: 80px 20px 20px;
}

.callback-box-menu .form-control {
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
}

.callback-box-menu p {
    margin-bottom: 25px;
}

.callback-box-menu .btn-submit {
    width: 254px;
    height: 60px;
    background-image: linear-gradient(222deg, #4afcd1, #2cb0fb);
}

.notie-container {
    z-index: 1000;
}

.notie-background-info {
    background-image: linear-gradient(222deg, #4afcd1, #2cb0fb);
}

.callback-box-menu input {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: 0.2px;
}

.btn-main-white {
    background: #ffffff none;
    color: black;
    font-size: 16px
}

.btn-main-white:hover {
    text-decoration: none;
    color: black;
}

.modal-content {
    width: 470px;
    height: 440px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
}

.modal-content .callback-box {
    border-radius: 0;
    background-color: #ffffff;
    box-shadow: none;
}

.bg-navbar {
    background-color: #f5f2f2d1 !important;
}

.creater_img {
    width: 386px;
    margin-left: 35px;
}

.container-callback {
    height: 400px;
}

.img-group {
    width: 80%;
}

.list-normal {
    margin-top: 50px;
}

.group-step > div {
    margin: 15px 0;
}

.content {
    width: 100%;
    content: "";
    position: absolute;
    display: inline-flex;
    justify-content: center;
}

.nav-can-get {
    align-items: baseline;
    justify-content: center;
    display: flex;
    text-align: right;
    height: 100%;
}

.methods-block .tab-pane p {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.img-service {
    width: 60%;
}

textarea.form-control {
    border-radius: 10px !important;
    border: solid 1px #dadada !important;
}

.menu-pill {
    -webkit-animation: spin 2s linear 1;
    -moz-animation: spin 2s linear 1;
    animation: spin 2s linear 1;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.review {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
}

.modal-content-full {
    height: 100%;
}

.modal-content-full .callback-box {
    height: 100%;
}

.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    border-right: 0;
    margin-left: -14.5px;
    margin-bottom: -29px;
}

.mob-hidden {
    display: none;
}

#menu-pill {
    position: absolute;
    top: 18px;
    left: 24px;
}

.box-review {
    margin: 0 15px;
    padding-bottom: 30px;
}
.image-blog{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.image-methods{
    display: none;
}
.box-blog-title h3 {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;
}
.blog-content{
    font-family: "Roboto", sans-serif !important;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
}
#slider-photo img{
    height: 215px;
    object-fit: cover;
}

#slider-training .swiper-pagination, #slider-review .swiper-pagination {
    bottom: -5px;
}